#logo {
    height: 100%;
    min-height: 100px;
}

.profile_picture {
    height: 100%;
    weight: 100%;
}

#newsletter-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

iframe {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #0000;
}

.popup,
#join,
#name_newsletter,
#email_newsletter {
    text-align: center;
    padding: 5px;
}

#join {
    padding: 5% 0% 0% 0%;
}

.newletter_button {
    padding: 35px 35px 0 0;
    border-radius: 20px/50px;
    z-index: 50;
    position: fixed;
    top: 0;
    right: 0;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    z-index: 100;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    z-index: 101;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    z-index: 101;
}

.popup .close:hover {
    color: #F3970E;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}